<!-- wp:template-part {"slug":"header","theme":"ecommerce-trendy-outfits","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"wp-block-group","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"right":"0","left":"0","top":"0","bottom":"0"}}}} -->

<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;">

	<!-- wp:pattern {"slug":"ecommerce-trendy-outfits/banner"} /-->

</main>

<!-- /wp:group -->

<!-- wp:pattern {"slug":"ecommerce-trendy-outfits/services"} /-->

<!-- wp:pattern {"slug":"ecommerce-trendy-outfits/products"} /-->

<!-- wp:pattern {"slug":"ecommerce-trendy-outfits/gallery"} /-->

<!-- wp:pattern {"slug":"ecommerce-trendy-outfits/tiblog"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->